@model PaginacionAPS.ViewModels.Paginador

<div class="container">
    @if (Model.TotalPaginas > 0)
    {
        <ul class="pagination justify-content-end">

            @if (Model.Edad != null)
            {

                @if (Model.PaginaActual > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-edad="@Model.Edad" asp-route-pagina="1">Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-edad="@Model.Edad" asp-route-pagina="@(Model.PaginaActual - 1)">Anterior</a>
                    </li>
                }

                @for (var pag = Model.InicioPagina; pag <= Model.FinalPagina; pag++)
                {
                    <li class="page-item @(pag == Model.PaginaActual ? "active": "")">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-edad="@Model.Edad" asp-route-pagina="@pag">@pag</a>
                    </li>
                }

                @if (Model.PaginaActual < Model.TotalPaginas)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-edad="@Model.Edad" asp-route-pagina="@(Model.PaginaActual +1)">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-edad="@Model.Edad" asp-route-pagina="@(Model.TotalPaginas)">Ultima</a>
                    </li>
                }
            }
            else
            {

                @if (Model.PaginaActual > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pagina="1">Primera</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pagina="@(Model.PaginaActual - 1)">Anterior</a>
                    </li>
                }

                @for (var pag = Model.InicioPagina; pag <= Model.FinalPagina; pag++)
                {
                    <li class="page-item @(pag == Model.PaginaActual ? "active": "")">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pagina="@pag">@pag</a>
                    </li>
                }



                @if (Model.PaginaActual < Model.TotalPaginas)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pagina="@(Model.PaginaActual +1)">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pagina="@(Model.TotalPaginas)">Ultima</a>
                    </li>
                }
            }


        </ul>
    }
</div>

